<h1>投稿する</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>つのエラーが出ました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <h4>画像</h4>
  <%= f.file_field :images, multiple: true, accept: "image/*"  %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>コメント</h4>
  <%= f.text_field :body %>
  <%= f.submit '投稿する' %>
<% end %>