<div class="row">
  <div class="side col-2">
    <hi>ユーザープロフィール</hi>
    <div>
     <h3><%= @user.nickname %></h3>

    <td>フォロー数:
      <%= link_to user_follows_path(@user.id) do %>
        <%= @user.follower.count %>
      <% end %>
    </td>

    <td>フォロワー数:
      <%= link_to user_followers_path(@user.id) do %>
        <%= @user.followed.count %>
      <% end %>
    </td>

      <%= image_tag @user.get_profile_image(100,100), class:"mt-3 rounded-circle" %>

      <p>自己紹介</p>

      <%= @user.introduction %>

      <% if @user == current_user %>
        <% if @user.email != "guest@example.com" %>
        <p><%= link_to "プロフィール編集", edit_user_path %></p>
        <% end %>
      <% end %>
      <% if current_user != @user %>
      　<% if current_user.following?(@user) %>
        　<%= link_to 'フォロー解除', user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
        <% else %>
      　  <%= link_to 'フォロー', user_relationships_path(@user.id), method: :POST , class: "btn btn-primary"%>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="main col-10">
    <p>投稿一覧</p>
    <%= render "public/posts/headline", posts: @posts %>
  </div>
</div>
<p>いいねした投稿</p>
<%= render "favorite", favorites: @favorites %>