<!DOCTYPE html>
<html>
  <head>
    <title>ModelersNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-body-secondary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">ModelersNet</a>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <!--admin-->
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "タグ作成", admin_tags_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active' %>
              </li>

            <!--user-->
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to "ホーム", posts_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿", new_post_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "サインイン", new_user_registration_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link active' %>
              </li>
            <% end %>
            </ul>
              <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
                <%= form.text_field :keyword, placeholder: "投稿を検索する" %>
                <%= form.submit "検索" %>
              <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary fixed-bottom" data-bs-theme="dark">
      <div class="container " >
        <span class="text-body-secondary">Mdelers Net</span>
      </div>
    </footer>

  </body>

</html>
